/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    padding: 20px 19px
}
h1 {
    text-align: center;
    color: red; 
}
.center{
    text-align: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}
.col{
    width: calc(100% / 3);
    padding: 20px 40px;
    display: flex; 
    border: 40px solid white;
    background-color: black;
    color: white
}

.feature-image {
    text-align: 20%;
    width: 30%;
    padding: 0;
}
.mail {
    color: lightblue;
}

/* @media  screen and (min-witch: 500px) {
   .col {
    width: calc(100% / 2);
   }
} */